.container {
        margin-left: 4rem;
        margin-top: 4rem;
        
}
.container div {
    width: 70px;
    height: 60px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

div:nth-child(even) {
    border: 1px solid pink;
}

.container div:nth-child(odd) 
span:nth-child(even) {
    color: green;
}

.container div:nth-child(2) 
span:last-of-type{
    color: blue;
}

.container div:nth-child(6) 
span:not(:last-of-type){
    color: yellow;
}

span:first-child{
    position: absolute;
    bottom: -20px;
    right: 30px;  
}

span:nth-child(2){
    position: absolute;
    top: -20px;
    right: 30px;
}

.container div:last-of-type
span:last-of-type{
    position: absolute;
    right: -20px;
    top: 20px;
}

.container div:first-of-type
span:last-of-type{
    position: absolute;
    left: -20px;
    top: 20px;
}

.container  {
    font-size:0;
  }

.container div {
    font-size:1rem;
  }







